body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font:  17px "Calibri";
    background-color: rgb(67, 119, 67);
    color: white;
    padding: 14px 20px;
    border: 2px solid rgb(67, 119, 67);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.12), 0 4px 16px rgba(0,0,0,.24);
    cursor: pointer;
}

a:hover{
    transition: all 0.8s;
    background-color: rgb(51, 88, 51);
    
}

a:active{
    color: black;
}

.footer{
    position: relative;
    bottom: 0;
    text-align: center;
}