body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font: 20px "Calibri";
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#lastText{
    margin-bottom: 40px;
}

a{
    text-align: center;
    font:  25px "Calibri";
    text-decoration: none;
    background-color: rgb(67, 119, 67);
    color: white;
    padding: 20px 26px;
    border: 2px solid rgb(67, 119, 67);
    border-radius: 40px;
    box-shadow: 0 4px 4px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.12), 0 4px 16px rgba(0,0,0,.24);
    cursor: pointer;
    align-self: center;

}

a:hover{
    transition: all 0.8s;
    background-color: rgb(51, 88, 51);
    
}

a:active{
    color: black;
}

.footer{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 15px;
}