body{
    margin: 0;
    padding: 0;
    font-family: "Calibri";
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 179)
}

.wrapper{
    width: 45%;
    height: 80vh;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,.08), 0 4px 8px rgba(0,0,0,.12), 0 4px 16px rgba(0,0,0,.24);
}

.wrap-register{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* CABEÇALHO */

.register-header{
    text-align: center;
}

.register-header > p{
    font-size: 20px;
    color: #333;
    font-family: arial;
    font-weight: bold;
}

.register-header > img{
    width: auto;
    height: 100px;
}

/* FORMULARIO */
.register-form{
    display: flex;
    flex-wrap: wrap;

}

/* CONTEUDO: INPUTS */

.wrap-input{
    margin: 8px 8px;
}

.input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* CONTEUDO: CHECKBOX */

.wrap-checkbox{
    margin: 0 8px;
    flex-basis: 100%;
}

.label-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
}

.checkmark_term {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 3px;
}

.label-checkbox:hover input ~ .checkmark_term {
    background-color: #ccc;
}

.label-checkbox input:checked ~ .checkmark_term {
    background-color: #2196F3;
}

.checkmark_term:after {
    content: "";
    position: absolute;
    display: none;
}

.label-checkbox input:checked ~ .checkmark_term:after {
    display: block;
}

.label-checkbox .checkmark_term:after {
    left: 4.5px;
    top: 3px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark_data {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 3px;
}

.label-checkbox:hover input ~ .checkmark_data {
    background-color: #ccc;
}

.label-checkbox input:checked ~ .checkmark_data {
    background-color: #2196F3;
}

.checkmark_data:after {
    content: "";
    position: absolute;
    display: none;
}

.label-checkbox input:checked ~ .checkmark_data:after {
    display: block;
}

.label-checkbox .checkmark_data:after {
    left: 4.5px;
    top: 3px;
    width: 2.5px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* MODAL TERMO DE USO E DO USUARIO */

.popup {
    cursor: pointer;
  }

.popup .popuptext {
    visibility: hidden;
    max-width: 400px;
    max-height: 350px;
    background-color: #555555;
    color: #fff;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    right: 0;
    left: 0;
    text-align: justify;
    line-height: 150%;
    font-size: 14px;
    overflow-y: scroll;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* BOTÕES DE VOLTAR E CRIAR */

.register-btn{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    margin: 0 8px;
}

.register-btn > button{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0 0 10px;
    background-color: rgb(67, 119, 67);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.register-btn > a{
    width: 100%;
    padding: 14px 15px;
    margin: 8px 10px 0 0;
    /* background-color: rgb(190, 15, 15); */
    background-color: rgb(165, 13, 13);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.register-btn > a:active{
    text-decoration: none;
    color: white;
}

/* RODAPÉ */

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer > a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.footer > a:hover{
    text-decoration: underline;
}

.footer > a:active{
    color: black;
}