<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-16">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/Layout/mailForgotPassword.css" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <div class="wrapper">
        <div class="content">
                <h2>Ola :]</h2>
                <p>Ficamos sabendo que voce esqueceu a senha :(</p>
                <p>Mas nao se preocupe, daremos um jeitinho para voce ;)</p>
                <p>Basta clicar no link abaixo!!!</p>
                <a href="http://localhost/captiveportal/views/teste.php">Redefinir senha</a>
        </div>
        <div class="footer">
            <b style="font-size:15px">Desenvolvido por Unimed São José dos Campos - Cooperativa de Trabalho Médico &copy; 2023 - todos os direitos reservados</b>
        </div>
    </div>
    </div>
</body>
</html>